@using KursovaWorkBLL.Services.AdditionalServices;

@{
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
    ViewBag.Title = "Підтвердження реєстрації";
}
@model EmailViewModel;

<script>
    var element = document.querySelector('.header');
    element.remove();
</script>
<div class="splitted-page">
    <div class="left-side">
        <div class="input-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center mb-4">Скидання паролю</h2>
                        <div class="customLogInHeader fs-5">
                            <p>
                                Введіть код, який вам надіслали на пошту 
                            </p>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @using (Html.BeginForm("ForgotPassword", "ChangePassword", new { @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            <div class="form-group">
                                <p class="fs-6">Електронна пошта</p>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control-custom", placeholder = "Електронна пошта", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group login-button mt-4">
                                <button type="submit" class="btn btn-primary btn-block">Підтвердити</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
    <div class="right-side-mobile"></div>
</div>





